<p>Click on cell to update the data !</p>
<br>

<!-- Tell this component about the datasource -->

<p> Add new data !! </p> <br>
<p> Enter data to search </p> <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  <button mat-button (click)="OpenDialog('Add',{})" mat-flat-button >Add Row</button>

<mat-table #table  [dataSource]="dataSource" >

    <ng-container matColumnDef="position">
      <mat-header-cell   *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Party Name 1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Party Name 2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email of party 1 </mat-header-cell>
   
   <mat-cell *matCellDef="let element"> {{element.email}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="courtno">
      <mat-header-cell *matHeaderCellDef> Court Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.courtno}}  </mat-cell>
    </ng-container>
 
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action  </mat-header-cell>
      <mat-cell *matCellDef="let element" (click) = "OpenDialog('Update',element)"> {{element.action}}  </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<!-- updates option for whole table 
<mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "OpenDialog('Update',row)" > Update </mat-row>
-->

<mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>

  </mat-table>

    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
    <mat-row [ngClass]="{'gray': index%2 == 1}" *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>



<mat-paginator [length]="3" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]"
>
  </mat-paginator>

<mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  <button mat-button (click)="OpenDialog('Add',{})" mat-flat-button >Add Row</button>

