<p>Click on cell to update the data !</p>
<br>
<br>
<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
<div class="example-header">


    <input (keyup)="applyFilter($event.target.value)" placeholder="Filter">


</div> 
 
      <table class="table table-bordered table-responsive-md table-striped text-center" datasource=displayList id="myTable">
        <tr>
          <th class="text-center">No</th>
          <th class="text-center">Name 1</th>
          <th class="text-center">name 2</th>
          <th class="text-center">E Mail</th>
          <th class="text-center">Update</th>
        </tr>
<tr *ngFor= "let el of displayList let id=index"> <td> {{el.position}} </td>
<td> <span (keyup)="changeValue(id,'firstName',$event)" (blur)="updateList(id,'firstName',$event)" contenteditable="true" > {{el.firstName}} </span> </td>
<td> <span (keyup)="changeValue(id,'lastName',$event)" (blur)="updateList(id,'lastName',$event)" contenteditable="true" > {{el.lastName}} </span> </td>
<td> <span (keyup)="changeValue(id,'email',$event)" (blur)="updateList(id,'email',$event)" contenteditable="true" > {{el.email}} </span> </td>
<td> {{el.action}}</td>
</tr> 

      </table>
    </div>
  </div>
</div>
<script> 
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


</script>



<!-- Editable table -->

<!-- Tell this component about the datasource -->
<!--
<p> Add new data !! </p> <br>
<p> Enter data to search </p> <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  <button mat-button (click)="OpenDialog('Add',{})" mat-flat-button >Add Row</button>

<mat-table #table  [dataSource]="dataSource" >

    <ng-container matColumnDef="position">
      <mat-header-cell   *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Party Name 1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Party Name 2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email of party 1 </mat-header-cell>
   
   <mat-cell *matCellDef="let element"> {{element.email}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="courtno">
      <mat-header-cell *matHeaderCellDef> Court Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.courtno}}  </mat-cell>
    </ng-container>
 
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action  </mat-header-cell>
      <mat-cell *matCellDef="let element" (click) = "OpenDialog('Update',element)"> {{element.action}}  </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<!--  some  -- 
<mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "OpenDialog('Update',row)" > Update </mat-row>
-->
<!--
<mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>

  </mat-table>

    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
    <mat-row [ngClass]="{'gray': index%2 == 1}" *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>



<mat-paginator [length]="3" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]"
>
  </mat-paginator>

<mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  <button mat-button (click)="OpenDialog('Add',{})" mat-flat-button >Add Row</button>
-->

