<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h3>
<mat-toolbar color = "primary">
   <span class = "gap">See Summary</span>
   <span>Edit Client Details</span>
   <span class = "filler"></span>
   <span>Send Mail to Client</span>
   <span class = "filler"></span>
   <span> Today's Appointments</span>

   <span class = "filler"></span>
   <span>Settings</span>
</mat-toolbar>
</h3>

<mat-table  [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Party Name 1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Party Name 2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email of party 1 </mat-header-cell>
   
   <mat-cell *matCellDef="let element"> {{element.email}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="courtno">
      <mat-header-cell *matHeaderCellDef> Court Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.courtno}}  </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)" ></mat-row>
  </mat-table>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



<mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]"
>
  </mat-paginator>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
