<table>
<tr> 
<th>
<div id = "div1"> 
<h3>
<mat-toolbar color = "primary">
   <span class = "gap"><a routerLink= "/summary" routerLinkActive="active"> View Summary </a></span>
   <span><a routerLink= "/sendmessage" routerLinkActive="active"> Send Message/ Mail </a></span>
   <span class = "filler"></span>
   <span><a routerLink= "/updateinfo" routerLinkActive="active"> Enter Client Data </a></span>
   <span class = "filler"></span>
   <span> <a routerLink= "/todaysappointment" routerLinkActive="active"> Check Todays Appointments </a></span>

   <span class = "filler"></span>
   <span> <a routerLink= "/settings" routerLinkActive="active"> Application Settings </a> </span>
</mat-toolbar>
</h3>

</div>
</th>

</tr>
<tr>

<div>

<nav> 
<ul>
 <li> <a routerLink= "/summary" routerLinkActive="active"> View Summary </a> </li>
 
<li> <a routerLink= "/sendmessage" routerLinkActive="active"> Send Message/ Mail </a> </li>
 <li> <a routerLink= "/updateinfo" routerLinkActive="active"> Enter Client Data </a> </li>
 <li> <a routerLink= "/todaysappointment" routerLinkActive="active"> Check Todays Appointments </a> </li>
 <li> <a routerLink= "/settings" routerLinkActive="active"> Application Settings </a> </li>
 </ul>
</nav>

</div>

</table>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->








<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
